.card,
.view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 500px;
    width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.cards .card {
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
}

.card .view {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #cffafe;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s linear;
}

.card .front-view img {
    width: 19px;
}
.card .back-view img {
    width: 70%;
    height: 70%;
}
.card .back-view {
    transform: rotateY(-180deg);
}
.card.flip .back-view {
    transform: rotateY(0);
}
.card.flip .front-view {
    transform: rotateY(180deg);
}
